@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  font-family: "Source Code Pro", monospace;
  padding: 2em 10em;
}

.address {
  font-family: "Oswald", monospace;
  font-size: 17px;
  color: gray;
  line-height: 2px;
}

.no {
  color: red;
}

span.no {
  font-weight: 700;
}

.date {
  padding: 1em 0px;
}

h1 {
  font-family: "Oswald", monospace;
  border-bottom: 4px solid #000;
}

h2 {
  font-family: "Oswald", monospace;
  margin-top: 2em;
}

.experience h2 {
  margin-top: 1em;
}

.exp {
  padding: 12px 3em;
}
